<div [@openClose]="isOpen ? 'open' : 'closed'" class="base">
  <div class="content">
    <h1>log onto REST server</h1>
    <div *ngIf="loginError" class="unsuccessful">
      <div>login unsuccessful</div>
    </div>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <label>username:
        <input type="text" formControlName="username">
        <div *ngIf="submitted && loginForm.controls.username.errors" class="error">
          <div *ngIf="loginForm.controls.username.errors.required">username is required</div>
        </div>
      </label>
      <label>password: <input type="password" formControlName="currentpassword">
        <div *ngIf="submitted && loginForm.controls.password.errors" class="error">
          <div *ngIf="loginForm.controls.password.errors.required">password is required</div>
        </div>
      </label>


      <input type="submit" value="log in" class="cta">

    </form>
  </div>
</div>