

label {
    display: block;
    
    
    
    input, textarea {
        display: block;
        width: calc(100% - 2em);;
        margin-bottom: 20px;
        background: #eeeeee;
        border: none;
        padding: 1em;
        margin-top: 10px;
        border-radius: 5px;
        //height: 3em;
    }

    .error {
        margin-top: -20px;
        background: orange;
        padding: .5em;
        border-radius: 10px;
        display: inline-block;
        font-size: .9em;
        margin-bottom: 20px;
    }

    
}

.unsuccessful {
    display: block;
    margin-top: -20px;
        background: red;
        padding: .5em;
        border-radius: 50px;
        display: inline-block;
        font-size: .9em;
        margin-bottom: 30px;
        color: #eeeeee;
}

.content {
    position: absolute;
    top: 135%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 400px;
    background: white;
  border-radius: 10px;
  padding: 20px;
}

.base {
    position: absolute;
    top: calc(0% + 68px); //this is very dirty. TODO
    left: 0%;

    background: #008080;
    height: 25%;
    width: 100%;
}

.cta {
    background: #008080;
    border: none;
    color: white;

    text-transform: uppercase;
    border-radius: 5px;
    padding: 1em;
    cursor: pointer;
    font-family: 'Montserrat';
}

.results {
    margin-top: 50px;

    strong {
        display: block;
    }
    span {
        margin-bottom: 20px;
        display: block;
    }
}
