<h1>contact us</h1>
<form [formGroup]="messageForm" (ngSubmit)="onSubmit()">
  <h5 *ngIf="success">Your Data is valid</h5>

  <label>Name:
    <input type="text" formControlName="name">
    <div *ngIf="submitted && messageForm.controls.name.errors" class="error">
      <div *ngIf="messageForm.controls.name.errors.required">name is required</div>
    </div>
  </label>
  <label>Message: <textarea formControlName="message"></textarea>
    <div *ngIf="submitted && messageForm.controls.message.errors" class="error">
      <div *ngIf="messageForm.controls.message.errors.required">a message is required</div>
    </div></label>


  <input type="submit" value="Send message" class="cta">

</form>
