<header>
  <div class="container">
    <a routerLink="/" class="logo">{{appTitle}}</a>
    <nav>
      <ul>
        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="/contact">Contact us</a></li>
        <li><a routerLink="/about">About</a></li>
        <li><a routerLink="/account"><b>My Account</b></a></li>
      </ul>
    </nav>
  </div>
</header>