header {
    background: #008080;

    .logo {
        font-weight: bold;
    }

    nav {
        justify-self: right;
    
        ul {
            list-style-type: none;
            margin: 0; padding: 0;

            li {
                float: left;
                

                a {
                    padding: 1.5em;
                    text-transform: uppercase;
                    font-size: .8em;
                    // border: solid;
                    

                    &:hover {
                        background: #007070;
                        border-radius: 5px;
                    }
                }
            }
        }
    }
}