@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

body, html {
    height: 100%;
    margin: 0 auto;
}

body {
    font-family: 'Montserrat';
    font-size: 18px;
}

a {
    text-decoration: none;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 1.3em;
    display: grid;
    grid-template-columns: 30% auto;

   a {
       color: white;
   }
}

section {
    width: 80%;
    margin: 0 auto;
    padding: 2em;
}

button {
    background: #008080;
    border: none;
    color: white;

    text-transform: uppercase;
    font-weight: 300;
    border-radius: 5px;
    padding: 1em;
    cursor: pointer;
    font-family: 'Montserrat';
}