<!-- <h1 [class.green]="h1Style">
  class styling
</h1>

<h1 [ngClass]="{
  'gray' : !h1Style, 'green' : h1Style
}">
  ngClass styling
</h1>

<h1 [style.color]="h1Style ? '#008080' : 'black'">
  style.color styling </h1>

<h1 [ngStyle]="{
  'color' : h1Style ? '#008080' : 'black'
}">ngStyle styling</h1>



<button (click)="clickAction()">test styling</button>

-->
<h4>http client <b>get</b> test</h4>

<ul *ngIf="users">
  <li *ngFor="let user of users.data">
    <img [src]="user.avatar">
    <p>{{user.first_name}} {{user.last_name}}</p>
  </li>
</ul>